<h1>My Projects</h1>

<div class="row portfolio-row">
    <div class="col-md-7">
        <a href="https://github.com/ddiiorio/event-hub">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://ddiiorio.github.io/ddiiorio-website/img/eventhub.png"
                 alt="Event hub android app screenshots">
        </a>
    </div>
    <div class="col-md-5">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h3>Event Hub Android App</h3>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>App designed to keep track of upcoming events</li>
                    <li>Features Ticketmaster Discovery API, Synced Realm Cloud database</li>
                    <li>Google Maps, Places & Directions integration</li>
                    <li>Search Ticketmaster database for events in your area, or quick add custom
                        events to track in your Event Hub</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button color="primary" 
                    href="https://github.com/ddiiorio/event-hub">View Project on GitHub</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<mat-divider></mat-divider>

<div class="row portfolio-row">
    <div class="col-md-7">
        <a href="http://mealio-d047c.firebaseapp.com">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://ddiiorio.github.io/ddiiorio-website/img/mealio.png"
                    alt="Mealio web app screenshots">
        </a>
    </div>
    <div class="col-md-5">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h3>Mealio Web App</h3>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>BCIT project for Metro Vancouver food waste reduction plan</li>
                    <li>Developed over 5 weeks using ReactJS, Bootstrap, Google Firebase, HTML, CSS</li>
                    <li>Agile scrum framework was used to manage the development process, including 3 one-week sprints</li>
                    <li>Utilized a Gitflow Workflow to develop individual features on local branches, merge to
                        develop, and finally to master for official releases</li>
                    <li>Developed with mobile-first design as priority</li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button color="primary" 
                    href="http://mealio-d047c.firebaseapp.com">View Project</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<mat-divider></mat-divider>

<div class="row portfolio-row">
    <div class="col-md-7">
        <a href="http://www.southislandfireplace.com/bullfrog_spas.html">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://ddiiorio.github.io/ddiiorio-website/img/bullfrog.png"
                    alt="Bullfrog spas screenshot">
        </a>
    </div>
    <div class="col-md-5">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h3>SIF Bullfrog Spas Page</h3>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Created a responsive page for past employer's new spa product line</li>
                    <li>Utilized Bootstrap grid layout and modal overlays</li>
                </ul>
                <br/>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button color="primary" 
                    href="http://www.southislandfireplace.com/bullfrog_spas.html">View Project</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<mat-divider></mat-divider>

<div class="row portfolio-row">
    <div class="col-md-7">
        <a href="http://students.bcitdev.com/A01012232/VanPeaksTest/index.php">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://ddiiorio.github.io/ddiiorio-website/img/vanpeaks.png"
                    alt="Vanpeaks website screenshot">
        </a>
    </div>
    <div class="col-md-5">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <h3>VanPeaks</h3>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Informative website developed using HTML, CSS, JavaScript, Bootstrap, jQuery & PHP</li>
                    <li>Workflow mangaged through GitHub and by tracking team-managed goals, issues, and solutions</li>
                </ul>
                <br/>
            </mat-card-content>
            <mat-card-actions>
                <a mat-raised-button color="primary" 
                    href="http://students.bcitdev.com/A01012232/VanPeaksTest/index.php">View Project</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>