<div class="container">
  <h1>Resume</h1>

  <h3 class="resume-header">Skills</h3>
  <mat-list>
    <mat-list-item>
      <h3 matLine><strong>Mobile app development</strong></h3>
      <p matLine>Android development with Java in Android Studio</p>
      <p matLine>Published & maintaining personal app in the Google Play Store -- see
        <a [routerLink]='["/portfolio"]'>Portfolio</a></p>
      <p matLine class="d-none"></p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine><strong>Web apps on Azure</strong></h3>
      <p matLine>Helped develop and deploy several ASP.Net Core MVC web apps -- employee management system and multiple CMS interfaces
        -- see <a [routerLink]='["/portfolio"]'>Portfolio</a>
      </p>
      <p matLine>Developed and deployed Angular SPA to communicate with API & SQL db -- see
        <a href="https://github.com/ddiiorio/FullStackAssignment" target="_blank">GitHub repo</a>
      </p>
      <p matLine>Experience deploying to Azure -- app services, SQL database, FTP storage</p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine><strong>UI & Front-end development</strong></h3>
      <p matLine>Good knowledge of front-end development using HTML5, CSS, and JavaScript frameworks, including Angular
        2+ and jQuery</p>
      <p matLine>Experience creating mockups and wireframes based on high-level requirements and flow diagrams</p>
      <p matLine>Responsive browser and mobile UI/UX designs</p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine><strong>Excellent written and oral skills</strong></h3>
      <p matLine>Skilled at communicating technical issues or topics to team members, writing technical documentation, or drafting friendly emails</p>
      <p matLine class="d-none"></p>
      <p matLine class="d-none"></p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine><strong>Client & team communication</strong></h3>
      <p matLine>Professional experience communicating with clients concerning budget, project scope, design requirements, etc</p>
      <p matLine>Collaborated on projects in teams ranging in size from 2 - 15</p>
      <p matLine class="d-none"></p>
    </mat-list-item>
    <mat-list-item>
      <h3 matLine><strong>General technical skills</strong></h3>
      <p matLine>IDEs: Visual Studio 2019, VS Code, Eclipse, WebStorm</p>
      <p matLine>Project management / bug tracking: Trello, GitHub issues/projects</p>
      <p matLine>Version Control: Git & BitBucket</p>
      <p matLine>Adobe Tools: Photoshop, Acrobat, some Illustrator</p>
      <p matLine>Testing: Postman, xUnit</p>
    </mat-list-item>
    <!-- <mat-list-item>
        <h3 matLine><strong></strong></h3>
        <p matLine></p>
        <p matLine></p>
        <p matLine></p>
      </mat-list-item> -->
  </mat-list>

  <mat-divider></mat-divider>

  <h3 class="resume-header">Experience</h3>
  <mat-list>
    <mat-list-item>
      <img matListAvatar
        src="https://ddiiorio.github.io/ddWebsite/assets/elements.jpg"
        alt="Elements logo">
      <h3 matLine><strong>Design & Sales Consultant</strong> (remote)</h3>
      <p matLine><strong>Elements Outdoor Inc.</strong></p>
      <p matLine>September 2010 – Present</p>
    </mat-list-item>
    <div class="mat-list-text">
      <ul class="work-experience-list">
        <li>Render 2D & 3D models of outdoor kitchens for sales and production purposes using SketchUp</li>
        <li>Production facility is located on Vancouver Island so I work remotely from home</li>
        <li>Communicate with the clients from start to finish concerning budget, scope and size of project, initial
          design, iterations for changes,
          to the final design and into production</li>
        <li>During busy season, often managing/designing 5-10 projects at a time</li>
      </ul>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <br/>
    <mat-list-item>
      <img matListAvatar
        src="https://ddiiorio.github.io/ddWebsite/assets/phsa.png"
        alt="PHSA logo">
      <h3 matLine><strong>Application Support Analyst / Web Dev</strong></h3>
      <p matLine><strong>
          <span>Provincial Health Services Authority</span>
          <span class="demo-2"> -- BC MQI</span></strong>
      </p>
      <p matLine>January 2018 – August 2018</p>
    </mat-list-item>
    <div class="mat-list-text">
      <ul class="work-experience-list">
        <li>Co-op position with BC MQI, working with the BC Credentialing & Privileging application portfolio</li>
        <li>Developed a new online newsletter that dynamically populates each monthly issue with articles via JavaScript
          calls to SharePoint REST API</li>
        <li>Fixed UI bugs when viewing site on mobile, optimized internal search using Google Analytics</li>
        <li>Resolved 200+ tickets in IT service portal for business & technical coordinators from all BC health
          organizations</li>
        <li><a href="http://www.bcmqi.ca" target="_blank">BC MQI website</a></li>
      </ul>
    </div>
  </mat-list>

  <mat-divider></mat-divider>

  <h3 class="resume-header">Education</h3>
  <mat-list>
    <mat-list-item>
      <img matListAvatar src="https://ddiiorio.github.io/ddWebsite/assets/bcit.png" 
        alt="BCIT logo">
      <h3 matLine><strong>Computer Systems Technology Diploma</strong></h3>
      <p matLine><strong>British Columbia Institute of Technology -- Burnaby, BC</strong></p>
      <p matLine>January 2017 – May 2019</p>
    </mat-list-item>
    <div class="mat-list-text">
      <ul class="work-experience-list">
        <li>Graduating with Distinction, completed 8-month Co-op</li>
        <li>Information Systems year-two option</li>
      </ul>
    </div>
  </mat-list>

  <mat-divider></mat-divider>

  <h3 class="resume-header">Contact</h3>

  <div class="container social">
    <a href="http://github.com/ddiiorio">
      <img src="https://ddiiorio.github.io/ddiiorio-website/img/git.png" width="60" height="60">
    </a>
    <a href="http://www.linkedin.com/in/danielrdiiorio">
      <img src="https://ddiiorio.github.io/ddiiorio-website/img/linkedin.png" width="60" height="60">
    </a>
    <a href="mailto:dannydiiorio@gmail.com">
      <img src="https://ddiiorio.github.io/ddiiorio-website/img/email.png" width="60" height="60">
    </a>
  </div>
</div>
