<div class="container">
    <!-- Page Heading -->
    <h1>Welcome,</h1>
    <div class="col-xs-9 ">
        <img src="https://ddiiorio.github.io/ddWebsite/assets/dd.png" class="float-right img-responsive ddImg"/>
    </div>
    <p class="my-4 greeting">
        My name is Danny and I am a graduate of the Computer Systems Technology program at the British Columbia Institute of Technology, in Burnaby, BC.
        I am a developer and application analyst in Vancouver, always looking for new opportunities. I love to write clean, organized code and I dream in Material Design.
    </p>

    <div class="row">
        <div class="col-md-7 my-1">
            <a mat-raised-button color="primary" [routerLink]='["/resume"]'>Check out my Resume</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 my-2">
            <a mat-raised-button color="primary" [routerLink]='["/portfolio"]'>Check out my Porfolio</a>
        </div>
    </div>
</div>

<div class="container social">
    <h3>Connect with me:</h3>

    <a href="http://github.com/ddiiorio">
        <img src="/assets/git.png" width="60" height="60">
    </a>
    <a href="http://www.linkedin.com/in/danielrdiiorio" >
        <img src="/assets/linkedin.png" width="60" height="60">
    </a>
    <a href="mailto:dannydiiorio@gmail.com" >
        <img src="/assets/email.png" width="60" height="60">
    </a>
</div>

<!-- Slideout -->
<div class="container">
    <a href="#/" (click)="sidebar()" id="igBtn" mat-raised-button>Gearheads Only</a>
</div>

<div *ngIf="hidden" class="sidebar">
    <ul>
        <li><a href="http://www.instagram.com/_u/6666frs/">
            <img src="/assets/instagram.png" width="60" height="60"></a></li>
    </ul>
</div>
